
div#principal{
    min-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

.title{
 color:green;
 font-size: 20px;
 min-width: 540px;
 margin-bottom: 20px; 
}

div#hoobies{
    background-color: coral;
    font-size: 12px;
    font-weight: bold;
    padding: 10px;
    min-height: 50px;
    border: solid 2px black;
}
div.card{
    background-color: grey;
    border: solid 2px;
    padding: 20px;
    min-width: 500px;
}

.titleint{
 color:black;
 font-size: 16px;   
}

.titleyellow{
 color: yellow;
 font-size: 20px; 
 padding: 10px 0 10px 0;  
}

div.contentyellow{
    background-color: yellow;
    border: solid 2px black;  
}

div.hobname{
    float: left;
    width: 33%;
    height: 50px;
}